body {
  font-size: 1.2em;
  margin: 5em;
}

nav {
  display: none;
  top: auto;
  left: auto;
  position: absolute;
}
textPath {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
}

#rect-nav {
}

a {
  fill: olivedrab;
}

div {
  margin-top: 5em;
}
