body {
  font-family: "Helvetica", sans-serif;
  background-color: rgb(255, 251, 245);
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
li {
  list-style: none;
}

img {
  width: 33vw;
  border-radius: 2em;
}
